.constructionContainer {
  min-height: calc(100vh - 4rem);
}

.emptyDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.emptyDiv p {
  text-align: center;
  color: #ff0000;
  padding-bottom: 0;
  margin: -4rem 0 1rem 0;
}

.emptyDiv a {
  color: #00a7e1;
}

.emptyContainer {
  display: flex;
  flex-direction: column;
  min-height: 75vh;
}

.mainHeading {
  font-size: clamp(2rem, 4vw, 3rem);
  text-align: center;
  margin-bottom: 3rem;
  margin-top: 3rem;
}

.emptyDiv {
  flex: 1;
}

.emptyDiv p {
  color: #000;
}

.dashboardContainer {
  margin: 3rem clamp(1rem, 7vw, 4rem) 0 clamp(1rem, 7vw, 4rem);
}

.postArticle {
  position: relative;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  height: 100%;
  margin-bottom: 3rem;
}

.postArticle:hover .deleteButton {
  display: block;
}

.postArticle .deleteButton {
  display: none;
  position: absolute !important;
  top: 0.5rem;
  right: 0.5rem;
  color: #fff;
  background-color: #f44336;
  border: none;
  border-radius: 5px;
  padding: 0.25rem 0.5rem !important;
  z-index: 999 !important;
}

.postArticle .deleteButton:hover {
  background-color: #f55044;
}

.postArticle .deleteButton:active {
  background-color: #f44336;
}

.postArticle .deleteButton span {
  font-size: 1.5rem;
  padding: 0;
}

.postArticle *:not(.articleLink) {
  position: relative;
  z-index: 998;
}

.articleContent {
  flex: 1;
}

.articleContent *:not(.postImage, .postLink) {
  padding-left: 0.75rem;
}

.articleLink {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.postLink {
  text-decoration: none;
  color: inherit;
}

.postLink:hover {
  text-decoration: underline;
}

.postImage {
  display: block;
  background-color: #e5e5e5;
  width: 100%;
  height: 15rem;
  object-fit: cover;
  z-index: -1 !important;
}

.postCreated {
  display: inline-block;
  font-weight: 600;
  color: rgb(79, 79, 79);
  margin-bottom: 1rem;
}

.postHeading {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0.75rem 0;
}

.categoriesContainer {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 0.5rem 0.75rem;
  margin-top: 1.5rem;
}

.categoryLink {
  display: block;
  font-weight: 600;
  text-decoration: none;
  color: #000;
  border: 1.5px solid #000;
  border-radius: 999px;
  padding: 0.25rem 0.75rem;
}

.categoryLink:hover {
  background-color: rgb(244, 244, 244);
}

.categoryLink:active {
  background-color: #fff;
}

.publishedButton {
  display: block;
  font-size: 1rem;
  color: #fff;
  border: none;
  width: 100%;
  padding: 0.5rem;
  margin-top: 1.5rem;
}

.publishedButton.published {
  background-color: #04aa6d;
}

.publishedButton.published:hover {
  background-color: #10b176;
}

.publishedButton.published:active {
  background-color: #04aa6d;
}

.publishedButton.notPublished {
  background-color: #f44336;
}

.publishedButton.notPublished:hover {
  background-color: #f55044;
}

.publishedButton.notPublished:active {
  background-color: #f44336;
}

.pageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5rem 0 1rem 0;
}

.pageContainer button {
  background-color: transparent;
  border: none;
}

.pageContainer button.disabled {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.3;
}

.pageContainer p {
  margin: -0.1rem 0.5rem 0 0.5rem;
}

/* Confirmation Modal */

.confirmationModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: #fff;
  border-radius: 5px;
  width: 90%;
  max-width: 30rem;
  padding: 1rem;
  z-index: 1002;
}

.confirmationModal h1 {
  font-weight: 700;
  font-size: clamp(2rem, 4vw, 2.5rem);
  text-align: start;
  margin: 1rem 0;
}

.confirmationModal p {
  margin-bottom: 1.5rem;
}

.confirmationButtons {
  display: flex;
  justify-content: flex-end;
}

.confirmationButtons button {
  display: block;
  font-size: 1rem;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
}

.confirmationButtons .cancelButton {
  background-color: #777777;
  margin-right: 1rem;
}

.confirmationButtons .cancelButton:hover {
  background-color: #7d7d7d;
}

.confirmationButtons .cancelButton:active {
  background-color: #777777;
}

.confirmationButtons .confirmButton {
  text-transform: capitalize;
  background-color: #f44336;
}

.confirmationButtons .confirmButton:hover {
  background-color: #f55044;
}

.confirmationButtons .confirmButton:active {
  background-color: #f44336;
}

.error {
  color: #f44336;
  margin-top: -0.5rem;
}

@media (min-width: 500px) {
  .postsUl {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 2rem 1.5rem;
  }

  .postArticle {
    margin-bottom: 0;
  }
}

@media (min-width: 1100px) {
  .dashboardContainer {
    width: 90%;
    max-width: 70rem;
    margin: 3rem auto 0 auto;
  }
}
