.errorContainer {
  min-height: calc(100vh - 4rem);
}

.errorContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.errorPara {
  text-align: center;
  color: #ff0000;
  padding-bottom: 0;
  margin: -4rem 0 1rem 0;
}

.errorContainer a {
  color: #00a7e1;
}

form {
  padding: 1rem;
  margin: 2rem 0;
}

form h1 {
  font-size: clamp(2rem, 4vw, 3rem);
  text-align: center;
  margin-bottom: 2.5rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

input[type="text"] {
  border: 1px solid #cecece;
  border-radius: 5px;
  font-size: 1rem;
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1.5rem;
}

.publishedInput {
  display: flex;
  align-items: center;
}

.publishedInput label {
  margin-bottom: 0;
}

.checkboxContainer {
  display: flex;
  align-items: center;
}

.checkboxContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: relative;
  display: block;
  border: 1px solid #cecece;
  border-radius: 5px;
  height: 1.5rem;
  width: 1.5rem;
  margin-left: 1rem;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkmark:hover {
  cursor: pointer;
}

.checkmark:hover {
  background-color: #f4f4f4;
}

.checkboxContainer input:checked ~ .checkmark {
  background-color: #00a7e1;
  border: none;
}

.checkboxContainer input:checked ~ .checkmark:after {
  display: block;
}

.checkboxContainer .checkmark:after {
  left: 0.5rem;
  top: 0.3rem;
  width: 0.5rem;
  height: 0.75rem;
  border: solid #fff;
  border-width: 0 0.2rem 0.2rem 0;
  transform: rotate(45deg);
}

.confirmationButtons {
  display: flex;
  justify-content: flex-end;
  margin-top: 2rem;
}

.confirmationButtons button {
  display: block;
  font-size: 1rem;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
}

.confirmationButtons .cancelButton {
  background-color: #777777;
  margin-right: 1rem;
}

.confirmationButtons .cancelButton:hover {
  background-color: #7d7d7d;
}

.confirmationButtons .cancelButton:active {
  background-color: #777777;
}

.confirmationButtons .confirmButton {
  text-transform: capitalize;
  background-color: #f44336;
}

.confirmationButtons .confirmButton:hover {
  background-color: #f55044;
}

.confirmationButtons .confirmButton:active {
  background-color: #f44336;
}

@media (min-width: 600px) {
  form {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
}
